@import "tailwindcss";

/* Modern Thin Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #022c22;
}

::-webkit-scrollbar-thumb {
  background-color: #c0994d;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #fde047;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #c0994d #022c22;
  scroll-behavior: smooth;
}
